@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega un desplazamiento suave para toda la página */
html {
  scroll-behavior: smooth;
}
/* Keyframes for blinking alerts */
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
/* Blinker class to apply the animation */
.blinker {
  animation: blinker 1.5s linear infinite;
}
/* Custom extra-small text size for calendar */
.text-xxs {
  font-size: 0.65rem; /* 10.4px */
  line-height: 0.85rem; /* 13.6px */
}
